parameters:
	level: 6
	inferPrivatePropertyTypeFromConstructor: true
	bootstrapFiles:
		- examples/bootstrap.php
	paths:
		- src
		- tests
	ignoreErrors:
		-
			message: '#Method \S+ has no return type specified.#'
			path: tests/*
