name: Static Code Analysis

on:
  push:
  pull_request:

jobs:
  tests:
    name: PHP${{ matrix.php-version }} Static Code Analysis on Linux
    runs-on: "${{ matrix.os }}"
    strategy:
      matrix:
        os: [ ubuntu-latest ]
        php-version: [ '8.0', '8.1', '8.2', '8.3' ]
      max-parallel: 5
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          extensions: swoole
          coverage: none

      - name: Setup Dependencies
        env:
          COMPOSER_ROOT_VERSION: 2.x-dev
        run:
          composer install -o

      - name: Run Analysis
        run:
          composer analyse
