name: PHPUnit for MQTT

on: [push, pull_request]

jobs:
  ci:
    name: PHP ${{ matrix.php-versions }} Test on ${{ matrix.os }}
    runs-on: "${{ matrix.os }}"
    strategy:
      matrix:
        os: [ubuntu-latest]
        php-versions: ['7.2', '7.3', '7.4', '8.0']
      max-parallel: 4
    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}
          tools: phpize

      - name: Setup Deps
        run:
          composer install -o --ignore-platform-reqs

      - name: Coding Standards Check
        if: ${{ matrix.php-versions != '8.0' }}
        run: |
          composer cs-check

      - name: Run Test Cases
        run: |
          composer test
