name: PHPUnit for MQTT

on:
  push:
  pull_request:
  schedule:
    - cron: '11 2 * * 1'

jobs:
  linux:
    name: PHP${{ matrix.php-version }} Swoole-${{ matrix.swoole-version }} Test on Linux
    runs-on: "${{ matrix.os }}"
    strategy:
      matrix:
        os: [ ubuntu-latest ]
        php-version: [ '8.0', '8.1', '8.2', '8.3' ]
        swoole-version: [ 'v4.8.13', 'v5.1.0', 'master' ]
      max-parallel: 15
      fail-fast: false
    env:
      SWOOLE_VERSION: ${{ matrix.swoole-version }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          tools: phpize
          ini-values: extension=swoole
          coverage: none

      - name: Build Swoole
        run: |
          wget https://github.com/swoole/swoole-src/archive/${SWOOLE_VERSION}.tar.gz -O swoole.tar.gz
          mkdir -p swoole
          tar -xf swoole.tar.gz -C swoole --strip-components=1
          rm swoole.tar.gz
          cd swoole
          phpize
          ./configure --enable-openssl --enable-mysqlnd --enable-http2
          make -j$(nproc)
          sudo make install
          php --ri swoole

      - name: Setup Dependencies
        env:
          COMPOSER_ROOT_VERSION: 2.x-dev
        run:
          composer install -o

      - name: Coding Standards Check
        if: matrix.php-version != '8.2'
        run: |
          composer cs-check

      - name: Run Test Cases
        run: |
          composer test

  macos:
    name: PHP${{ matrix.php-version }} Swoole-${{ matrix.swoole-version }} Test on macOS
    runs-on: "${{ matrix.os }}"
    strategy:
      matrix:
        os: [ macos-latest ]
        php-version: [ '8.0', '8.1', '8.2', '8.3' ]
        swoole-version: [ 'v4.8.13', 'v5.1.0', 'master' ]
      max-parallel: 15
      fail-fast: false
    env:
      SWOOLE_VERSION: ${{ matrix.swoole-version }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          tools: phpize
          ini-values: extension=swoole
          coverage: none

      - name: Install Swoole Dependencies
        run: |
          brew install openssl
          brew link openssl

      - name: Build Swoole
        run: |
          wget https://github.com/swoole/swoole-src/archive/${SWOOLE_VERSION}.tar.gz -O swoole.tar.gz
          mkdir -p swoole
          tar -xf swoole.tar.gz -C swoole --strip-components=1
          rm swoole.tar.gz
          cd swoole
          phpize
          ./configure --enable-openssl --with-openssl-dir=/usr/local/opt/openssl@1.1 --enable-mysqlnd --enable-http2
          make -j$(sysctl -n hw.logicalcpu)
          sudo make install
          php --ri swoole

      - name: Setup Dependencies
        env:
          COMPOSER_ROOT_VERSION: 2.x-dev
        run:
          composer install -o

      - name: Coding Standards Check
        if: matrix.php-version != '8.2'
        run: |
          composer cs-check

      - name: Run Test Cases
        run: |
          composer test
